// ############### Geral ###############
$color-yellow: #fbba00;
$color-green: #3fa535;
$color-dark-blue: #283583;
$color-light-blue: #009fe3;
$color-ciane: #006f9b;
$color-orange: #ee7203;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.container {
    padding: 0 20px;
}

.flag {
    display: inline-block;
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    position: relative;
    margin-bottom: 60px;
    h2 {
        font-size: 20px;
    }
    .flag__bolder-title {
        color: black;
    }
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 25px solid white;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.card {
    margin-bottom: 60px;
    .card__img {
        width: 100%;
        height: auto;
    }

    .card__title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        margin: 15px 0;
    }
}

.ver-mais-btn {
    cursor: pointer;
    text-align: center;
    margin-bottom: 60px;
}

.ver-mais-btn:hover {
    text-decoration: underline;
}

.ver-mais-container {
    display: none;
}

.col-sm-6 {
    padding-right: 60px;
    padding-left: 60px;
}

// ############### Hero ###############
.hero {
    background: url(../img/img.jpg);
    height: 500px;
    position: relative;
    nav {
        position: absolute;
        right: 20px;
        ul {
            li {
                text-align: right;
                a {
                    span {
                        display: none;
                        padding: 3px 18px;
                        margin-right: -4px;
                        font-size: 18px;
                    }
                    i {
                        padding: 18px;
                        border-radius: 50%;
                        margin-bottom: 5px;
                    }
                }
            }

            li:nth-child(1) {
                a {
                    i {
                        background: #fbba00;
                    }
                    span {
                        background: #fbba00;

                    }
                }
            }

            li:nth-child(2) {
                a {
                    i {
                        background: $color-green;
                    }
                    span {
                        background: $color-green;

                    }
                }
            }

            li:nth-child(3) {
                a {
                    i {
                        background: $color-dark-blue;
                    }
                    span {
                        background: $color-dark-blue;

                    }
                }
            }

            li:nth-child(4) {
                a {
                    i {
                        background: $color-light-blue;
                    }
                    span {
                        background: $color-light-blue;

                    }
                }
            }

            li:nth-child(5) {
                a {
                    i {
                        background: $color-ciane;
                    }
                    span {
                        background: $color-ciane;

                    }
                }
            }

            li:nth-child(6) {
                a {
                    i {
                        background: $color-orange;
                    }
                    span {
                        background: $color-orange;

                    }
                }
            }
        }
    }
}

// ############### pre main ###############
.pre-main {
    text-align: center;
    padding: 70px 0;
    h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

// ############### saude ###############
.saude {
    .flag {
        background: $color-yellow;
    }

    .card__title,
    .ver-mais-btn {
        color: $color-yellow;
    }
}

// ############### esporte ###############
.esporte {
    .flag {
        background: $color-green;
    }

    .card__title,
    .ver-mais-btn {
        color: $color-green;
    }
}

// ############### turismo ###############
.turismo {
    .flag {
        background: $color-dark-blue;
    }

    .card__title,
    .ver-mais-btn {
        color: $color-dark-blue;
    }
}

// ############### infraestrutura ###############
.infraestrutura {
    .flag {
        background: $color-light-blue;
    }

    .card__title {
        color: $color-light-blue;
    }
}

// ############### assistencia-social ###############
.assistencia-social {
    .flag {
        background: $color-ciane;
    }

    .card__title {
        color: $color-ciane;
    }
}

// ############### transito ###############
.transito {
    .flag {
        background: $color-orange;
    }

    .card__title {
        color: $color-orange;
    }
}

// ############### footer ###############
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 14px 0;
}

// ############### media queries ###############

@media (min-width:485px) {
    .triangle-left {
        border-top: 25px solid transparent !important;
        border-bottom: 25px solid transparent !important;
    }

    .flag {
        h2 {
            font-size: 25px !important;
        }
    }
}

@media (min-width:768px) {
    .card__title {
        text-align: left !important;
    }

    .triangle-left {
        border-top: 31px solid transparent !important;
        border-bottom: 31px solid transparent !important;
    }

    .flag {
        h2 {
            font-size: 35px !important;
        }
    }
}


